/* START GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800;);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
/* END GOOGLE FONTS */

/* Start BODY */
body {
    background-color: white;
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding:0;
}
/* END BODY */

/* Start debug */
.bg-blue {
    background-color:yellow;
}

.bg-red {
    
    background-color: #e4c7bd;
}

/* END DEBUG */

/*START CONTAINER */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-html {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* END CONTAINER */

/*START CONTAINER FULL */
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
    background-color: whitesmoke;
}
/* END CONTAINER */

/* START LOGO */
.logo {
    text-align: center;
    background-color: white;
    /* UBAH SENDIRI */
    width: 300;
    height: 300;
    /* YG DIATAS RUTH UBAH SENDIRI */
    
}
/* END LOGO */


/* START ANCHOR */
a:link,
a:visited {
    color:#330026;
    text-decoration: none;
}
a:hover,
a:active {
    color: lightslategray;
    text-decoration: underline;
}
/* END ANCHOR */

/* START MENU PRIMER */
.menu-primer ul {
    background-color: #e4c7bd;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(228, 199, 189,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    text-align: center;
}

.menu-primer li {
    border-right: 1px solid whitesmoke;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: black;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    /* Untuk mengubah warna ketika kursor digerakkan*/
    background-color: black;
    color: #e4c7bd;
    text-decoration: none;
}

.menu-primer .active {
    background-color: black;
    color: #e4c7bd;
    text-decoration: none;
}
/* END MENU PRIMER */

/* START HEADING */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
} 

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}


/* END HEADING */

/* START JUMBOTRON */
.jumbotron {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 0;
    width: 90%;
    
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}

.jumbotron h3 {
    font-size: 16px;
    padding: 0 20px;
}
/* END JUMBOTRON */

/* START MAIN */
.main-home-one{
    float: left;
    width: 49.5%;

}

.main-home-two{
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 150px;
}

.main-one {
    float: left;
    overflow: auto;
    width: 100%;
}

/* END MAIN */

/* START NEWBIES*/
.newbies {
  background-color: #e4c7bd;
  padding-left: 10px;
  border-radius: 0px 10px 0 0;
}
/* END NEWBIES */

/* START EYE */
.eye-product {
  border-bottom: 2px solid #e4c7bd;
}
/* END EYE */

/* START SIDEBAR */
.sidebar {
    float: right;
    overflow: auto;
    width: 29%;
}
/* END SIDEBAR */

/* START BOX */
.box-heading {
    background-color: #e4c7bd;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color:white;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    border-top: none;
    margin: 0;
    padding: 10px 20px;
}
/* END BOX */

/* START REVIEWS */
.review {
    border-left: 5px solid #e4c7bd;
    margin-left: 30px;
    padding-left: 20px;
}
/* END REVIEWS */

/* Start Product Table */
.product-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.product-table th {
    background-color: white;
}

.product-table td {
    text-align: center;
}
/* End Product Table */

/* START FORM */
input[type="text"],
input[type="email"],
text-area {
    font-size: 14px;
    padding: 10px;

}

input::placeholder,
textarea::placeholder {
    color: black;
    font-weight: 300;
}

input[type="submit"],
.button{
    background-color: #e4c7bd;
    background-image: linear-gradient(-180deg, white 0%, white 90%);
    border: 1px solid black;
    border-radius: 10px;
    color: black !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 1px;
    
}

/* END FORM */

/* START CONTACT FORM */
.contact-form div {
    margin: 20px 0;
}
/* END CONTACT FORM */

/* START MENU SEKUNDER */
.menu-sekunder {
    background-color: whitesmoke;
    /* border-bottom: 2px solid black; */
    border-top: 2px solid black;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul{
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

.menu-sekunder-three li {
  float: left;
  overflow: auto;
  letter-spacing: 7px;
    
}

.menu-sekunder-three li img {
    margin: 10px 10px;
    vertical-align:  middle;
    /* background-color: grey; */
}

/* END MENU SEKUNDER */

/* START COPYRIGHT */

.copyright p {
    font-size: 15px;

}
/* END COPYRIGHT */

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* START SLIDER (HOME) */

.carousel-inner img {
  max-width: 90%;


}

.carousel-item {
  text-align: center;
}
/* END SLIDER (HOME) */


/* START EFFECT */

/* START EFFECT TOP NEWBIES (PRODUCT) */
.snip1511 {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1px;
  min-width: 22%;
  max-width: 22%;
  width: 100%;
  color: #0d0d0d;
  text-align: right;
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-transform: uppercase;
  box-shadow: none !important;
 
}
.snip1511:first-of-type {
  margin-left: 10px;
}
.snip1511 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1511 .image {
  padding: 15px 0;
  width: 215px;
  text-align: center;
}
.snip1511 img {
  max-width: 100%;
  backface-visibility: hidden;
  height: 200px;
  vertical-align: top;
  position: relative;
  opacity: 0.7;
}
.snip1511 figcaption {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  background-color: #e4c7bd;
  -webkit-transform: rotate(-90deg) translate(-100%, 0%);
  transform: rotate(-90deg) translate(-100%, 0%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.snip1511 h4 {
  width: 100%;
  margin: 0;
  padding: 15px 20px;
  line-height: 1.1em;
  font-weight: 900;
}
.snip1511 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1511:hover img,
.snip1511.hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}
.snip1511:hover figcaption,
.snip1511.hover figcaption {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: rotate(-90deg) translate(-100%, -100%);
  transform: rotate(-90deg) translate(-100%, -100%);
}
/* END EFFECT NEWBIES (PRODUCT)*/

/* START EFFECT SHOP WITH US */
.snip1516 {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 23%;
    max-width: 23%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: black;
    display: inline-block;
  }
  .snip1516 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    
  }
  .snip1516 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    text-align: center;
  }
  .snip1516 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    line-height: 1em;
    -webkit-transform: translateX(-75%) rotate(-180deg);
    transform: translateX(-75%) rotate(-180deg);
  }
  .snip1516 figcaption:before {
    content: '';
    background-color: #e4c7bd;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .snip1516 h3 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
  }
  .snip1516 h3 span {
    display: block;
    font-weight: 800;
  }
  .snip1516 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1516:hover > img,
  .snip1516.hover > img {
    opacity: 0.1;
  }
  .snip1516:hover figcaption,
  .snip1516.hover figcaption {
    -webkit-transform: translate(0px) rotate(0deg);
    transform: translate(0px) rotate(0deg);
    opacity: 1;
  }
  
/* END EFFECT SHOP WITH US */

/* START EFFECT EYE PRODUCTS */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cardo);
figure.snip1524 {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 30%;
  max-width: 30%;
  width: 100%;
  color: #e4c7bd;
  text-align: center;
  font-size: 16px;
  background-color: #e4c7bd;
  display: inline-block;
}

figure.snip1524 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

figure.snip1524 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  height: 300px;
  width: 100%;
}

figure.snip1524 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0%;
  -ms-transform-origin: 0 0%;
  transform-origin: 0 0%;
}

figure.snip1524 h2,
figure.snip1524 p {
  line-height: 1.5em;
  margin: 0;
}

figure.snip1524 h2 {
  font-family: 'Quicksand', serif;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figure.snip1524 p {
  padding: 8px 0 15px;
}

figure.snip1524 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

figure.snip1524:hover > img,
figure.snip1524.hover > img {
  opacity: 0.2;
}

figure.snip1524:hover figcaption,
figure.snip1524.hover figcaption {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


/* END EFFECT EYE PRODUCTS */

/* END EFFECT */